################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NLTK.xUnitTests/bin/Debug/netcoreapp3.1
/NLTK.xUnitTests/obj
/NLTK.Testing/obj
/NLTK.Testing/bin/Debug/netcoreapp3.1
/nltk/bin/Debug/netcoreapp3.1
/nltk/obj
